################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MyStudy
/.vs/slnx.sqlite
slnx.sqlite